node_modules
tmp
application/config/database.php
*.patch
patches/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
*.swp
*.rej
*.orig
*~
*.~
*.log
application/sessions/*
/nbproject/
soporte_soluciones_db.sql